html, body {
	padding: 0; margin: 0;
	width: 100%; height: 100%;
	font-family: Helvetica, Tahoma, Arial, sans-serif;
	background: #eee;
}

h2, h3 {
	margin: 0;
	padding: 0;
}

#left, #right {
	display: inline;
}

#left {
	background: #fff;
	width: 70%; 
	float: left;
	height: 100%;
	text-align: center;
	position: relative;
	box-shadow: 2px 0px 1px #ccc;
}

#timer_label {
	font-size: 10em;
	padding-top: 10%;
}

#scramble_label {
	font-weight: bold;
	max-width: 80%;
	margin: auto;
}

#times_label {
	height: 99%;
	overflow-y: scroll;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 1.2em;
}

#bottom_bar {
	text-align: justify;
	position: absolute;
	bottom: 0;
	padding: 1%;
	line-height: 150%;
}

#gray_out {
	z-index: 5;
	background: black;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	display: none;
}

.popup {
	z-index: 6;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ddd;
	top: 50%;
	left: 50%;
	padding: 1%;
	display: none;
	box-shadow: 1px 2px 1px #888;
	line-height: 150%;
	max-width: 40%;
}

#solve_popup_close {
	float: right;
}

a {
	color: #36c;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.disabled, .disabled a {
	color: gray;
}

.disabled a:hover {
	cursor: default;
	text-decoration: none;
}

.h {
	background-color: yellow;
}
