html, body {
	padding: 0; margin: 0;
	width: 100%; height: 100%;
	font-family: Helvetica, Tahoma, Arial, sans-serif;
	background: #eee;
}

h2, h3 {
	margin: 0;
	padding: 0;
}

#left, #right {
	display: inline;
}

#left {
	background: #fff;
	width: 70%; 
	float: left;
	height: 100%;
	text-align: center;
	position: relative;
	box-shadow: 2px 3px 1px #ccc;
}

#timer_label {
	font-size: 10em;
	padding-top: 10%;
}

#scramble_label {
	font-weight: bold;
	width: 80%;
	margin: auto;
}

#times_label {
	height: 99%;
	overflow-y: scroll;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 1.2em;
}

#bottom_bar {
	text-align: justify;
	position: absolute;
	bottom: 0;
	padding: 1%;
	line-height: 150%;
}

#gray_out {
	z-index: 5;
	background: black;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	display: none;
}

#options, #solve_popup {
	z-index: 6;
	position: absolute;
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 5px;
	top:40%;
	left:50%;
	margin-left:-12.5%;
	margin-top:-12.5%;
	padding: 1%;
	display: none;
	box-shadow: 1px 2px 1px #888;
}

#solve_popup {
	line-height: 150%;
}

.a span {
	color: #36c;
	cursor: pointer;
}

.g, .g span {
	color: gray;
}

.h {
	background-color: yellow;
}
